.App {
  text-align: center;
  /* overflow: hidden; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.overlay{
  display: inline;
  position: absolute;

}
/**/
.mainWrapper{
   height:100vh;
   display: flex;
   flex-direction: row;
   margin-left: 0px;
}

.SearchSettings{
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: center;
  border-Color: black ;
  border-Width: 5px ;
  background-Color: #DBDCDB;
}
.roundedBtn{
  width: 50px;
  height: 50px;
  border-Radius: 50%;
  margin-Top:  10px;
  border-Color:  transparent;
}

.inputLabel{
  margin-top: 10px;
  padding: 10px;
  background: gray; 
  display: table;
  color: #fff;
  border-radius: 10px;
}

input[type='file'] {
display: none;
}

/*CoolInput component */
.transition,  .question label, .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}
.question {
  position: relative;
  margin-top: 15px;
  padding: 10px 0;
  width: 80%;
  margin-left: 10%;
}
.question:first-of-type {
  padding-top: 0;
}
.question:last-of-type {
  padding-bottom: 0;
}
.question label {
  transform-origin: left center;
  color: #779ecb;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
.question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #779ecb;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.question input[type="text"]:focus {
  outline: none;
  background: white;
  color: black;
  font-weight: 800;
  margin-top: 30px;
}
.question input[type="text"]:valid {
  margin-top: 30px;
}
.question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
.question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
.circle-picker{
  width: 80% !important;
  margin-left: 10% !important;
}

ul{
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: black solid 2px;
  width: 80%;
  }
ul li{
list-style: none;
width: 60%;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 20%;
text-align: center;
border-radius: 60px;
}
ul li span{
  width: 100%;
  margin-top: 10px;
  }